* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.h1 {
    background-color: #081b31;
    color: #fff;
    border-radius: 1rem;
    display: inline-block;
    padding: 10px 200px;

}

.center {
    text-align: center;
    margin-top: 20px;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display:   flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score{
    font-size: 4rem;
}

#comp-score{
    font-size: 4rem;
}

#msg{
    margin-top: 5rem;
    display: inline-block;
    background-color:  #081b31 ;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}